<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Gun Cursed Edition</title>
    <link rel="stylesheet" href="/css.css">
</head>
<body>
    <!-- PAGE HEADER -->
    <p>so um.. this is the about page..</p>
    <p>(ender pweease write more &gt.&lt!! idk a lot about pgce!!!)</p>
    <p>um, so... pixel gun cursed edition is... um, well it's pixel gun but cursed...</p>
    <p>so... basically, um.. you know how sometimes, games get REALLY boring???</p>
    <p>well, um... pixel gun cursed edition is MADE to not be boring...</p>
    <p>so, um... here's a cool showcase video...</p>
    <p>(please ignore the geometry dash song!!! &gtw&lt ender is so silly sometimes hehe)</p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fcTbMI8bgwo" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>um, so, you see how he says "lightning paced combat"???</p>
    <p>that's... SO true... um, basically, playing pgce when theres multiple people in a match becomes SO FUN!! i'm surprised pixel gun 3.11 could be this fun!!</p>
    <p>oh, yeah... pgce is based on pixel gun version 3.11... very cool if you ask me...</p>
    <p>um... don't tell anyone, but the game is so unbalanced... it becomes kinda unfun when everyone uses the one shot weapons...</p>
    <p>so um... pweaase.. dont use the one shot weapons too much!! just for me???</p>
    <script src="/move-bg.js"></script>
</body>
</html>