<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Gun Cursed Edition</title>
    <link rel="stylesheet" href="/css.css">
</head>
<body>
    <!-- PAGE HEADER -->
    <img class="center" src="/cltitle.gif"></img>
    <p class="center">so this is the CHANGElog, where you can see all the CHANGES made to the game between versions.</p>
    <p class="center">ENDER!! the version gifs are already in the files!! just do /versioncodes/1.gif in an image tag, it'll show the pre-2.0 title gif!! write it yourself, i'm lazy!!</p>
    <script src="/move-bg.js"></script>
</body>
</html>